html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

/* ----------- layout ----------- */
#main-container {
  flex: 3 1 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-width: 0;
  min-height: 0;
}

#input-output {
  flex: 1 1 0;
  display: flex;
  align-items: stretch;
  justify-content: center;
  box-sizing: border-box;
  min-width: 0;
  min-height: 0;
}

/* ------------- Map ------------- */
#single-map-container,
#compare-map-container {
  width: 100%;
  flex: 3 1 0;
  min-height: 0;
}

#single-map-container {
  display: block;
}

#compare-map-container {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  gap: 6px;
}

#map {
  width: 100%;
  height: 100%;
  border: 1px solid rgb(75, 75, 75);
  box-sizing: border-box;
}

#map-left,
#map-right {
  flex: 2 1 0;
  height: 100%;
  border: 1px solid rgb(75, 75, 75);
  box-sizing: border-box;
}

/* ------------- chart ------------- */
#chart {
  width: 100%;
  flex: 2 1 0;
  min-height: 0;
  padding: 16px;
  border: 1px solid rgb(75, 75, 75);
  background-color: rgb(16, 16, 19);
  box-sizing: border-box;
}

/* ------------- input-output ------------- */
#message {
  width: 100%;
  height: 100%;
  border: 1px solid rgb(75, 75, 75);
  background-color: rgb(16, 16, 19);
  padding: 16px;
  color: rgb(146, 146, 146);
  white-space: pre-wrap;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  box-sizing: border-box;
}

#output-message {
  width: 100%;
  flex: 1 1 auto;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #444 #1a1a1a;
  box-sizing: border-box;
}

#query-form {
  margin-top: 10px;
  height: 36px;
  display: flex;
  align-items: center;
  z-index: 2;
}

#query-input {
  flex: 1 1 auto;
  height: 34px;
  font-size: 16px;
  border-radius: 18px;
  background-color: rgb(233, 233, 233);
  border: none;
  padding: 4px 8px;
  box-sizing: border-box;
}

#query {
  width: 90px;
  height: 36px;
  font-size: 16px;
  border-radius: 18px;
  background-color: rgb(65, 112, 156);
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

/* ------------- responsive ------------- */
@media (max-width: 900px) {
  body {
    flex-direction: column;
  }

  #main-container,
  #input-output {
    width: 100%;
    padding: 8px;
  }

  #main-container {
    flex: 3 1 0;
  }

  #input-output {
    flex: 2 1 0;
  }

  #chart {
    margin-top: 8px;
  }

  #buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
