body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  width: 1300px;
  margin: 50px auto; /* center horizontally */
  display: flex;
  flex-direction: column;
  align-items: center; /* now this works */
}
#main-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

#map {
  width: 1000px;
  height: 750px;
  border-radius: 30px;
  border: 1px solid rgb(102, 102, 102);
}
#output-message {
  width: 400px;
  height: 710px;
  border-radius: 30px;
  border: 1px solid rgb(102, 102, 102);
  background-color: rgb(16, 16, 19);
  padding: 20px;
  color: rgb(146, 146, 146);
  white-space: pre-wrap;
}

#query-input {
  width: 800px;
  height: 20px;
  font-size: 18px;
  border-radius: 10px;
  background-color: rgb(233, 233, 233);
  border: 1px solid rgb(49, 49, 49);
  padding: 5px;
  margin: 20px auto;
}

#button {
  width: 100px;
  height: 35px;
  font-size: 18px;
  border-radius: 10px;
  background-color: rgb(189, 189, 189);
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

#message-box {
  margin-top: 20px;
  font-size: 18px;
  color: white;
}