body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  width: 1480px;
  margin: 50px auto;
  display: flex;
  align-items: center;
}

/* ----------- buttons ----------- */
#buttons {
  margin: 10px;
}
#button1, #button2, #button3 {
  width: 220px;
  height: 30px;
  font-size: 18px;
  border-radius: 15px;
  color: rgb(110, 110, 110);
  border: none;
  cursor: pointer;
  margin: 3px;
}
#button1 { background-color: rgb(5, 28, 43); }
#button2 { background-color: rgb(5, 38, 41); }
#button3 { background-color: rgb(6, 37, 24); }

#button1.active { background-color: rgb(152, 179, 201); color: black;}
#button2.active { background-color: rgb(145, 191, 194); color: black;}
#button3.active { background-color: rgb(153, 202, 175); color: black;} 


/* ------------- Map ------------- */
#single-map-container {
  width: 1040px;
}

#map {
  width: 1040px;
  height: 570px;
  border: 1px solid rgb(75, 75, 75);
  display: block;
}

#compare-map-container {
  width: 1040px;
  display: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#map-left,
#map-right {
  width: 520px;
  height: 570px;
  border: 1px solid rgb(75, 75, 75);
  box-sizing: border-box;
  display: none;
}


/* ------------- input-output ------------- */
#input-output {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
#chart {
  width: 1040px;
  height: 260px;
  padding: 20px;
  border: 1px solid rgb(75, 75, 75);
  background-color: rgb(16, 16, 19);
  box-sizing: border-box;
}
#message {
  width: 400px;
  height: 790px;
  border: 1px solid rgb(75, 75, 75);
  background-color: rgb(16, 16, 19);
  padding: 20px;
  color: rgb(146, 146, 146);
  white-space: pre-wrap;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch; 
}
#output-message {
  width: 400px;
  height: 88%;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #444 #1a1a1a;
}
#query-form {
  height: 32px;
  display: flex;
  align-items: flex-end;
  z-index: 2;
}
#query-input {
  width: 500px;
  height: 20px;
  font-size: 18px;
  border-radius: 10px;
  background-color: rgb(233, 233, 233);
  border: none;
  padding: 5px;
}
#query {
  width: 80px;
  height: 32px;
  font-size: 18px;
  border-radius: 10px;
  background-color: rgb(65, 112, 156);
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

